@import "tailwindcss";

:root {
  --background: #f2f1ed;
  --foreground: #313330;
  --foreground-sec: #5f5e5e;
  --border: #bab9b6;
  --blue: #7266ff;
  --blue-dark: #5849fc;
  --blue-light: #d3cff3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F8F9F8;
  }
} */

* {
  box-sizing: border-box;
}
/* For WebKit browsers (Chrome, Safari, newer Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Standard property (Firefox, IE, Edge) */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  /* transition: background-color 0.2s linear, color 0.2s linear; */
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: 500;
}

main {
  width: 100%;
  margin: 80px 28px;
  padding: 0 28px;
  max-width: 1336px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

button {
  /* border: none; */
  cursor: pointer;
  outline: none;
}

li {
  list-style: none;
}